body
{
	background-color: #eee;
}
.jumbotron
{
	margin-top: 30px;
	display: block;
}
@media (min-width: 500px)
{
	.jumbotron
	{
		margin-left: auto;
		margin-right: auto;
	}
}
.label
{
	color: black;
	font-size: 18px;
}
label
{
	display: block;
	letter-spacing: 2px;
	padding: 4px 4px;
}
input, textarea
{
	width: 300px;
	height: 40px;
	background: #969696;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dedede;
	padding: 10px;
	margin-top: 3px;
	font-size: 0.9em;
	color: #3a3a3a;
	
}
textarea
{
	height: 200px;
}
.form-control
{
	margin-bottom: 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background: #969696;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dedede;
	color: #3a3a3a;
}
.btn-default
{
	background-color: #dadada;
}
#star
{
	display: inline-block;
	color: red;
}
@media (min-width: 417px)
{
	.jumbotron
	{
		width: 40%;
		text-align: center;
	}
}